aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
comm==0.1.2
commonmark==0.9.1
debugpy==1.6.6
decorator==5.1.1
executing==1.2.0
fastapi==0.88.0
frozenlist==1.3.3
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
ipykernel==6.21.2
ipython==8.10.0
jedi==0.18.2
jupyter_client==8.0.2
jupyter_core==5.2.0
matplotlib-inline==0.1.6
multidict==6.0.4
nest-asyncio==1.5.6
openai==0.27.0
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.0.0
plotly==5.13.1
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
pydantic==1.10.2
Pygments==2.14.0
pynecone-io==0.1.14
pywin32==305
pyzmq==25.0.0
redis==4.5.1
requests==2.28.2
rfc3986==1.5.0
rich==12.6.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a32
sqlmodel==0.0.8
stack-data==0.6.2
starlette==0.22.0
tenacity==8.2.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typer==0.4.2
typing_extensions==4.5.0
urllib3==1.26.14
uvicorn==0.20.0
wcwidth==0.2.6
websockets==10.4
wincertstore==0.2
yarl==1.8.2
